body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background: #2d2d2d;
  } /* style for the entire document  */
  
  ol, ul {
    padding-left: 30px;
  } /* ordered and unordered lists */
  
  .list {
    height: 34px;
    width: 34px;
    flex-direction: row;
  }

  .bullet {
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    margin-left: 20px;
    content: "";
  } 